.signin__switch{
    font-size: 18px;
    font-weight: 800;
    font-family: 'Syne Tactile', cursive;
    color: darkgrey;
    margin: 20px 0 !important;
}

.signin__button{
    font-size: 16px !important;
    font-weight: 500 !important;
    color: hotpink !important;
    background-color: silver !important;
    text-transform: none !important;
}

.signin__button:disabled{
    color: darkgray !important;
    background-color: lightgray !important;
    cursor: not-allowed !important;
}