.home__main{
    display: flex;
    flex-direction: column;
    padding-top: 62px;
}

@media(max-width: 750px){
    .home__main{
        display: flex;
        flex-direction: row;
        padding-top: 0px;
    }
}