.userQuestions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.userQuestions__header{
    font-family: 'Syne Tactile', cursive;
    cursor: not-allowed;
    position: relative;
    top: 10px;
    text-align: center;
    color: darkgray;
    display: block;
    margin: 20px 0;
}