.body{
    width: 100vw;
    height: calc(100vh - 62px);
    background-image: url(./../../Assets//Images/Body.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(73, 172, 152);
    padding: 50px;
}

.body__header__buttons{
    margin-top: 10px;
    padding: 0 !important;
    
}

.body__header__button{
    color:rgb(255, 255, 255) !important;
    background-color: rgb(9, 116, 94) !important;
    border-radius: 10px !important;
    padding: 10px !important;
    margin: 10px !important;
    font-weight: 700 !important;
    font-size: 17px !important;
    text-transform: capitalize !important;
    transition: all 0.2s ease-in !important;
}

.body__header__button:active{
    transform: scale(1.02);
}

.body > *{
    text-align: left;
    padding: 0 10px;
    max-width: 50%;
    margin-bottom: 20px;
    user-select: none;
}

@media(max-width: 1050px) {
    
    .body > *{
        max-width: 70%;
    }
}
.body__header__primary{
    font-size: 54px;
    font-weight: 900;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.4);
}
.body__header__secondary{
    font-size: 34px;
    font-weight: 700;
    text-shadow: 2px 2px 18px rgba(0,0,0,0.4);
}

.body__header__content{
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 22px rgba(0,0,0,0.4);
}
.body__header__detail{
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

@media(max-width: 750px) {
    .body{
        width: 100vw;
        z-index: 20;
        height: 100vh;
        padding: 10px;
        padding-top: 60px;
    }
    .body > *{
        max-width: 100%;
    }
    .body__header__primary{
        font-size: 34px;
        
    }
    .body__header__secondary{
        font-size: 24px;
        
    }
    
    .body__header__content{
        font-size: 18px;
        font-weight: 900;
        
    }
    .body__header__detail{
        font-size: 18px;
        font-weight: 900;
        
    }
}



