.header{
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(31, 153, 129);
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1C8E77;
    width: 100vw;
    z-index: 999;
}
.header__logo{
    width: 60px;
    height: 60px;
    object-fit: contain;
    z-index: 1000;
    border-radius: 80px;
    padding: 10px;
}
.header__nav{
    display: flex;
}

.header__button{
    color: white !important;
    background-color:  rgb(24, 190, 157) !important;
    border-radius: 10px !important;
    text-transform: capitalize !important;
    margin-right: 20px !important;
    
}

.header__title{
    font-family: 'Syne Tactile', cursive;
    user-select: none;
    cursor: progress;
    margin: 10px;
}
@media(max-width: 750px){
    .header{
        flex-direction: column;
        width: fit-content;
        align-items: center;
        padding: 10px;
        padding-right: 15px;
        border-bottom: none;
        height: 100vh;
        border-right: 2px solid rgb(31, 153, 129);
        justify-content: flex-start;
    }
    .header__nav{
        flex-direction: column;
    }
    .header__button{
        margin: 0 auto !important;
    }
}

.mobile{
    position: fixed;
    top: 0;
    z-index: 50;
    background-color:#1C8E77;
    transition: all 0.3s ease-in;
}

.header__menubutton{
    position: fixed !important;
    right: 20px !important;
    top:20px !important;
    color: white !important;
    background-color:  rgb(24, 190, 157) !important;
    border-radius: 10px !important;
    text-transform: capitalize !important;
    
    z-index: 1000;
}