.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
    backdrop-filter: blur(8px);
}

@supports not (backdrop-filter: blur(8px)){
    .backdrop{
        background-image: linear-gradient(to right ,rgba(0, 0, 0,0.8),rgba(255, 255, 255,0.8)),url(./../../Assets//Images//Body.jpg);
        
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-blend-mode: color;
    }
}